.dummy{
	color : black;
}
.header-lg{
	color: var(--zim-vie-primary-navy, #0A2043);
	font-family: Soleil;
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin:10px 30px 0;
  }
  .slds-button{
	  color: #2C9DD8;
	  font-family: Soleil;
	  font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
  }
  .fcolor > .slds-button{
	  color: #2C9DD8;
	  font-weight: 600;
  }