.header-lg{
	color: var(--zim-vie-primary-navy, #0A2043);
	font-family: Soleil;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	table-layout:fixed;
  }
  
  td, th {
	text-align: left;
	padding: 15px;
  }

  th {
	background: #DBE0E2;
   }
   .heading{
	color:#0A2043;
	font-weight:700;
	font-size:24px;
   }
.srchbtncls{
	border-radius: 50px;
    border-width: revert;
    width: 500px;
    height: 44px;
    color: #758591;
    border-color: #DBE0E2;
    padding: 22px;
	border-style: ridge;
   }
   .btncls{
	background-color: rgb(255 255 255);
    color: #2C9DD8;
    padding: 6px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.48px;
    text-transform: uppercase;
	border: 0px;
    float: right;
   }
   .heading{
	font-weight:700;
	font-size:16px;
	color:#0A2043;
   }
   .barhead{
	padding: 8px 20px;
	font-weight: 700;
	font-size:16px;
   }
   .solidicon {
    --slds-c-icon-color-foreground-default: rgb(10, 32, 67);
    
}
.tabledata{
	padding:20px;
	color:#0A2043;
	font-size:16px;
	font-weight:400;
}
.actioncls{
	color:#2C9DD8;
	font-size:16px;
	font-weight:600;
}
.iconcls{
	--slds-c-icon-color-foreground-default: rgb(10, 32, 67);
    --slds-c-icon-color-background: white;
}